<style>
  div[data-controller="notes"] {
    canvas {
      width: 100%;
      height: 70vh;
      background-color: lightyellow;
    }

  }

  controls {
    display: block;
    width: 100%;
    display: flex;
  }

  button {

    display: inline;
  }

  [hidden] {
    display: none;
  }
</style>
<style>
  img {
    width: 100px;
    border: solid black 1px;
  }
</style>
<div data-controller="notes" data-action="foo->notes#bar">
  <controls>
    <a role="button" href="<%= new_note_path %>">New </a>
    <button form="sign-out-form" type="submit">Sign out</button>
  </controls>
  <div>
    <% @notes.each do |note| %>
      <p>
        <img src="<%= "/uploads/#{note.id}.png" %>">
      </p>
    <% end %>
  </div>
</div>
<%= form_with(method: :delete, url: sign_out_path, :html => {:id => 'sign-out-form'}) do %>
<% end %>
