@import url('_variables.css');
@import url('modern-normalize.css');

/**
* Body
*/


body {
  overflow-x: hidden;
  overflow-y: hidden;
  color: var(--text-color);
}

body.turbo-native .turbo-native-hidden {
  display: none;
}


/**
* Anchor
*/

a {
  text-decoration: none;
  margin: var(--margin-vertical) var(--margin-horizontal);

  &:hover {
    color: rgba(0, 123, 255, 0.8);
  }
  

}

/**
* Button
*/

input[type="submit"],
button, a[role="button"] {
  width: var(--button-width);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-style: var(--border-style);
  color: var(--button-color-text);
  background-color: var(--button-color-background);
  text-align: center;  
  padding: var(--padding-vertical) calc(var(--padding-horizontal) * 4);
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: var(--margin-vertical) var(--margin-horizontal);

  &:hover:not([disabled]) {
    cursor: pointer;
    background-color: rgba(0, 123, 255, 0.8);
  }

  &[disabled] {
    color: var(--button-color-text-disabled) !important;
    pointer-events: none;
    cursor: not-allowed;
  }

}

[role="group"] {
  display: flex;

  input[type="submit"],
  button, a[role="button"] {
    &:first-of-type {
      border-radius: var(--border-radius) 0 0 var(--border-radius);
    }
  }

  input[type="submit"],
  button, a[role="button"] {
    border-radius: 0;
    padding: var(--padding-vertical) var(--padding-horizontal);
    flex: 1;
    border: none;
  }

  input[type="submit"],
  button, a[role="button"] {
    &:last-of-type {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }
  }

}


/**
* Image
*/

[list] img {
  /* width: 100px; */
}

/**
* Input
*/

input {
  width: var(--input-width);
  color: var(--text-color);
  padding: var(--padding-vertical)  calc(var(--padding-horizontal) / 4);
  margin: var(--margin-vertical) var(--margin-horizontal);
  border-style: var(--border-style);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-color: var(--border-color);
}

/**
* Label
*/

label {
  padding: calc(var(--padding-vertical) / 2) calc(var(--padding-horizontal) / 4);
  margin: var(--margin-vertical) var(--margin-horizontal);
}

/**
* SVG
*/

svg {
  height: 2rem;
  color: inherit;
}

/**
* Field
*/

field {
  display: block;
  width: 100%;
  padding: var(--padding-vertical) 0;

  input {
    margin-bottom: 0.02rem;
  }
}


/**
* Canvas
*/

canvas {
  /* width: 100%; */
  /* width: 100vw; */
  flex-grow: 1;
  background-color: lightyellow;
}


/**
* Note
*/

div[data-controller="note"] {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


/**
* Utilities
*/

[hidden] {
  display: none;
}

.radius-0 {
  border-radius: 0 !important;
}
